*{
    margin: 0;
    padding: 0;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    color: mediumblue;
}

header{
    display: flex;
    background-color: rgba(246, 255, 0, 0.9);
    padding: 2vh 10vw 2vh 3vw;
    justify-content: space-around;
}

header nav{
    align-self: center;
}

nav a{
    font-size: larger;
    padding-left: 3vw;
    color: mediumblue;
}

nav a:hover{
    text-decoration: underline;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw 5vh 5vw;
    column-gap: 2.5vw;
    background-color: lightblue;
    margin-bottom: 5vh;
}

.centered{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
}

#animatedEl{
    display: none;
}

.subexpl{
    padding-top: 5vh;
}

.subject-expl{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2vh;
}

.teachers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5vh;
    padding-bottom: 5vh;
}

.schedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    padding: 3vh;
    column-gap: 2.5vh;
}

.schedule-img img{
    grid-column: 1;
    width: 50vw;
}

.schedule-expl{
    grid-column: 2;
}

.schedule-expl h3{
    padding-bottom: 2vh;
}

.teach{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

.teacher{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.centered h3{
    padding-top: 5vh;
}

.teacher img{
    border-radius: 100%;
}

.k_martens{
    grid-column: 1;
}

.w_verdiesen{
    grid-column: 2;
}

.j_ambachts{
    grid-column: 3;
}



@media only screen and (max-aspect-ratio:1.3/2) {

    .speedup{
        display: grid;
        grid-template-rows: auto;
        padding: 5vh;
        background-color: lightblue;
    }

    .speedup-img{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 3vh;
    }

    .speedup-expl{
        grid-row: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .speedup img{
        grid-row: 1;
    }

    .schedule{
        grid-template-columns: 0;
        grid-template-rows: auto;
    }

    .schedule-img img{
        width: 80vw;
    }

    .schedule-expl{
        grid-row: 2;
    }

    .teachers{
        grid-template-columns: 1fr 1fr;
    }

    .grid{
        grid-template-columns: auto;
        row-gap: 2.5vh;
    }
    .img{
        grid-row: 1;
    }

    .info{
        grid-row: 2;
    }
}

.grid .img, .info{
    border-radius: 1vw;
}

a img{
    width: 2vw;
}

footer{
    padding: 2vh;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}

.info{
    padding: 1vw;
    background-color: rgba(255, 255, 47, 0.9);
    transition: 0.3s;
}

.info p{
    font-size: medium;   
}

.info:hover{
    transform: scale(1.05);
}

.logo{
    height: 6vh;
}

.img{
    background-image: url("../img/Sanne\ Bas\ -\ Curio\ -\ Knipplein\ 11-1.jpg");
    aspect-ratio: 3/2;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.img:hover{
    transform: scale(1.05);
}

.subject{
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

.border{
    margin: 5vh;
    background-color: yellow;
    border-radius: 2vw;
    padding: 1vw 1vw 5vw 1vw;
}

@media only screen and (min-aspect-ratio:1.3/2){
    .speedup{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5vh;
        background-color: lightblue;
    }

    .speedup-expl{
        grid-column: 1;
    }
    
    .speedup-img{
        grid-column: 2;
    }
}

.speedup-expl h3{
    border-bottom: solid 2px;
}

.speedup img{
    width: 40vw;
}